body {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*TYPOGRAPHY*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
table {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #6D6F70;
  font-size: 14px;
  font-weight: 700;
}

.nav-aside {
  display: none;
  min-width: 150px;
  background-color: #354052;
}

.user-block {
  width: 100%;
  margin: 20px 0 0 0;
  /*padding: 0 0 20px 0;*/
  border-bottom: 2px solid #2d3849;
}

.user-image {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 100%;
  background: url('../img/pratt.jpg') no-repeat;
  background-size: cover;
}

.user-name,
.user-dropdown {
  color: #a9b4c6;
  font-size: 14px;
  text-align: center;
}

.user-name {
  margin: 10px 0 0;
}

.user-dropdown {
  font-size: 8px;
  /*border: 1px solid red;*/
  border-radius: 100%;
  margin: 0 5px;
}

.user-dropdown:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #F7C350;
}

.nav-icon {
  width: 15px;
}

.nav-selected {
  background-color: #30394A;
  border-left: 2px solid #00C5ED;
}

section h4 {
  margin-left: 15px;
  color: #5e6778;
  font-size: 12px;
}


/*NAV MAIN CONTENT*/

.nav-main,
.nav-admin,
.nav-categories {
  max-width: 100%;
  margin: 20px 0;
  border-bottom: 2px solid #2d3849;
}

.nav-link {
  margin: 0 0 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #a9b4c6;
  font-size: 12px;
  font-weight: 700;
  line-height: 300%;
}

.nav-main-content,
.nav-admin-content {
  display: flex;
  padding-left: 15px;
  cursor: pointer;
  color: #a9b4c6;
  align-items: center;
}

.nav-main-content:hover .nav-link {
  color: #ffffff;
}

.nav-main-content:hover,
.nav-admin-content:hover {
  background-color: #30394A;
  border-left: 2px solid #00C5ED;
}


/*NAV ADMIN CONTENT*/

.nav-admin-content:hover .nav-link {
  color: #ffffff;
}

.main-container {
  width: 100%;
}

.head-container {
  display: flex;
  height: 50px;
  text-align: center;
  vertical-align: baseline;
  border-bottom: 1px solid #e6e9ef;
  font-size: 25px;
  align-items: center;
}

.header-icon {
  display: flex;
  width: 50px;
  height: 50px;
  line-height: 45px;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
  border-right: 1px solid #e6e9ef;
}

.expand-btn {
  cursor: pointer;
  border-left: 1px solid #e6e9ef;
}

.add-user-btn,
.calendar-add-btn,
.grid-btn {
  display: none;
  cursor: pointer;
  border-left: 1px solid #e6e9ef;
}

.menu-btn:hover,
.expand-btn:hover,
.add-user-btn:hover,
.calendar-add-btn:hover,
.grid-btn:hover {
  color: #FFF;
  background-color: #68D152;
}

.search-input {
  height: 44px;
  padding: 3px;
  text-overflow: ellipsis;
  color: #5e6778;
  border: none;
  border-bottom: 1px solid #e6e9ef;
  outline: none;
  font-size: 18px;
  flex-grow: 1;
}

.search-input::placeholder,
.header-icon {
  color: #5e6778;
}

.job-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.job-title {
  margin: 10px 0 5px;
  color: #354052;
  font-size: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.job-location {
  margin: 5px 0 10px;
  color: #5e6778;
  font-size: 14px;
  font-weight: 400;
}

.job-actions-container {
  display: flex;
  width: 200px;
  margin-bottom: 15px;
  justify-content: space-around;
}

.action-btn {
  width: 20px;
  height: 25px;
  color: #5e6778;
  border: 1px solid #C8CBD1;
  border-radius: 50%;
  outline: none;
  background-color: inherit;
  font-size: 13px;
}

.job-open-btn {
  width: 55px;
  border-radius: 50px;
}

.job-open-btn-icon {
  color: #68D152;
}

.job-bookmark-btn:hover,
.job-edit-btn:hover,
.job-delete-btn:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #68D152;
}


/*PAGE TABS CONTENT*/

.content-tabs-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  border-bottom: 3px solid #e6e9ef;
  justify-content: space-between;
}

p.tab {
  margin: 0 20px;
  padding-bottom: 15px;
  color: #5e6778;
  font-size: 13px;
  font-weight: 700;
}

h3 {
  margin: 0;
  color: #354052;
  font-size: 36px;
}

p.selected-tab {
  color: #354052;
  border-bottom: 4px solid #00C5ED;
}

p.tab:hover {
  cursor: pointer;
  border-bottom: 4px solid #68D152;
}

.page-content {
  background-color: #EDF2F6;
}

.jobs-tab,
.interviews-tab,
.activity-tab,
.broadcast-tab,
.notifications-tab {
  display: none;
}


/* SUMMARY CONTAINER */

.summary-container {
  background-color: #EDF2F6;
}


/* DATA VISUALIZATION CONTAINER */

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CIRCLE GRAPHS */

.circle-data-container,
.graph-data-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.data-visualization {
  display: flex;
  min-height: 300px;
  padding: 30px 0 30px 0;
  align-items: center;
  justify-content: space-around;
}

.data-and-button {
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 155px;
  margin: 20px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.graph-1 {
  border: 10px solid #F7C350;
  border-bottom: 10px solid #C8CBD1;
}

.graph-2 {
  border: 10px solid #68D152;
  border-right: 10px solid #C8CBD1;
  border-bottom: 10px solid #C8CBD1;
}

.graph-3 {
  border: 10px solid #C8CBD1;
  border-left: 10px solid #00C5ED;
}

.data-graph {
  text-align: center;
}

.graph {
  width: 300px;
  height: 120px;
  margin: 20px;
  background: url(../img/bar-chart.png) no-repeat;
  background-size: contain;
}

.page-button {
  width: 220px;
  padding: 10px;
  text-align: center;
  color: #354052;
  border: 2px solid #c8cbd1;
  border-radius: 25px;
  background-color: #ffffff;
  font-weight: 700;
}


/*DIVIDER*/

.divider {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.horizontal-rule {
  display: block;
  width: 45%;
  height: 2px;
  color: #c8cbd1;
  border: none;
  background-color: #E6E9EF;
}

.divider-arrow {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  color: #c8cbd1;
  border: 1px solid #c8cbd1;
  border-radius: 50%;
}

.divider-arrow:hover {
  cursor: pointer;
  color: #6F7E95;
  border-radius: 100%;
  box-shadow: 0 0 5px #F7C350;
}


/* DETAILS CONTAINER */

.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  background-color: #EDF2F6;
  justify-content: center;
  align-items: center;
}


/* JOB TABLE CONTENTS */

table {
  width: 90%;
  padding: 0 20px;
  border-collapse: collapse;
  box-shadow: 0 0 10px #E6E9EF;
}

th {
  background-color: #6F7E95;
  border-radius: 2px 2px 0 0;
  text-align: left;
  padding: 15px 0 15px 30px;
}

.table-edit {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #7D8BA6;
  font-size: 14px;
  font-weight: 700;
}

.table-edit:hover {
  background-color: #68D152;
}

tbody {
  padding: 0 20px;
}

tr {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

td {
  padding: 20px 20px;
  border-bottom: 1px solid #E6E9EF;
}

th h5 {
  display: inline-block;
  color: #FFF;
}

.table-spacing {
  display: none;
}

.table-lead {
  width: 90%;
  padding: 20px;
  vertical-align: text-top;
  text-transform: uppercase;
  color: #6F7E95;
  border-bottom: none;
  font-size: 14px;
  font-weight: 700;
}

.table-info {
  width: 90%;
  margin: auto;
  padding: 0 10px 20px 20px;
  color: #354052;
  font-weight: 300;
  line-height: 145%;
}

.hiring-lead {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  vertical-align: middle;
  border-radius: 100%;
  background: url(../img/hiring-lead.jpg) no-repeat;
  background-size: cover;
}


/* INTERIOR ASIDE */


/* SOCIAL LINKS */

.interior-aside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

.social-btn-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.facebook {
  color: #FFF;
  background-color: #3C5A99;
}

.social-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}

.social-btn {
  position: relative;
  width: 270px;
  height: 50px;
  margin: 7px 0;
  color: #FFF;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.facebook-btn {
  background-color: #3C5A99;
}

.twitter-btn {
  background-color: #1DA1F2;
}

.linkedin-btn {
  background-color: #0077B5;
}

.facebook-btn:hover,
.twitter-btn:hover,
.linkedin-btn:hover {
  cursor: pointer;
}

.social-icon {
  position: absolute;
  left: 35px;
}


/* SIDEBAR CONTAINER */

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 90%;
  border-bottom: 2px solid #E6E9EF;
}

.sidebar-title {
  margin: 20px 0 10px;
  font-weight: 700;
}

.field-button {
  display: flex;
  margin: 15px 0;
  justify-content: center;
}

.copy {
  width: 20%;
  margin: 0;
  padding: 15px;
  color: #ffffff;
  border: none;
  border-radius: 0 2px 2px 0;
  outline: none;
  background-color: #00C5ED;
  box-shadow: 0 0 10px #E6E9EF;
}

.copy:hover {
  cursor: pointer;
  background-color: #68D152;
}

.sidebar-field {
  display: inline-block;
  width: 65%;
  padding: 15px;
  border-radius: 2px 0 0 2px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #E6E9EF;
}

.sidebar-input {
  font-size: 16px;
  flex-grow: 1;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-text {
  font-size: 14px;
}

@media screen and (min-width: 430px) {
  .jobs-tab {
    display: inline;
  }
  .content-tabs-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 550px) {
  .interviews-tab {
    display: inline;
  }
  .data-container {}
  .circle-data-container {
    flex-direction: row;
    width: 450px;
    flex-wrap: wrap;
  }
  .page-button {
    flex: 0 1 50%;
  }
  .graph {
    width: 450px;
    height: 180px;
  }
  .add-user-btn,
  .calendar-add-btn,
  .grid-btn {
    display: block;
  }
  .expand-btn {
    display: none;
  }
  .job-container {
    flex-direction: row;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .title-container {
    width: 50%;
    margin-left: 25px;
    align-items: flex-start;
  }
  .content-tabs-container {
    margin-top: 30px;
    flex: 0 1 100%;
  }
  .job-actions-container {
    margin: 0 25px;
  }
}

@media screen and (min-width: 650px) {
  .activity-tab {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .nav-aside {
    display: block;
  }
  .activity-tab {
    display: none;
  }
  table {
    width: 90%;
  }
  /*tbody {
    padding: 0 20px;
  }*/
  tr {
    display: table-row;
    /*flex-direction: row;*/
  }
  td {
    /*border-bottom: 1px solid #E6E9EF;*/
  }
  .table-spacing {
    width: 2%;
    display: table-cell;
    border: none;
  }
  .table-lead {
    width: 36%;
    padding-left: 20px;
    border-bottom: 1px solid #E6E9EF;
  }
  .table-info {
    width: 60%;
    line-height: 145%;
    font-weight: 300;
    color: #354052;
    /*padding-right: 30px;*/
    padding: 10px 20px;
  }
  .hiring-lead {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../img/hiring-lead.jpg) no-repeat;
    background-size: cover;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 15px;
  }
}

@media screen and (min-width: 825px) {
  .activity-tab {
    display: block;
  }
}

@media screen and (min-width: 910px) {
  .broadcast-tab {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .data-container {}
  .circle-data-container {
    width: 650px;
  }
  .social-btn-container {
    flex-direction: row;
    margin: 10px 0;
  }
  .social-btn {
    width: 220px;
    margin: 0 5px;
  }
  .notifications-tab {
    display: block;
  }
  .more-tab {
    display: none;
  }
}

@media screen and (min-width: 1050px) {
  .social-btn-container {
    flex-direction: column;
    margin: 0;
  }
  .social-btn {
    width: 280px;
    margin: 5px 0;
  }
  .details-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .job-listing-table {
    width: 60%;
  }
  .interior-aside-container {
    width: 40%;
    max-width: 310px;
    padding-top: 0;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  .facebook-btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 1300px) {
  .data-container {
    flex-direction: row;
  }
}
